.input  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;   
}

.input label {
    text-transform: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin-right: 0.5rem;
}

.input input {
    height: 24px;
    width: 35px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #ddd;
    margin-right: 1rem
}