.backdrop {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.modal {
    position: absolute;
    left: 20vw;
    top: 10vh;
    z-index: 3;
    width: 60vw;
    height: 45vh;

    border: solid 3px black;
    background: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: auto;
    overflow-x: hidden;
}

.content {
    font-size: 1rem;
}